
.app-header{
  
}


@media only screen and (min-width:991px){
  .container{
    max-width: 986px;
    margin: auto;
  }
  .app-body{
    display: flex;
    justify-content: space-between;
  }
  .sidebar-section{
    width: 200px;
    /* padding-right: 20px; */
  }
  .right-section{
    width: 760px;
  }
}
@media only screen and (min-width:1100px){
  .container{
    max-width: 1080px;
    margin: auto;
  }
  .app-body{
    display: flex;
    justify-content: space-between;
  }
  .sidebar-section{
    width: 200px;
    /* padding-right: 20px; */
  }
  .right-section{
    width: 850px;
  }
}

@media only screen and (min-width:1200px){
  .container{
    max-width: 1190px;
    margin: auto;
  }
  .app-body{
    display: flex;
    justify-content: space-between;
  }
  .sidebar-section{
    width: 100px;
  }
  .right-section{
    margin-left: 30px;
    width: 950px;
  }
}

@media only screen and (min-width:1400px){
  .container{
    max-width: 1380px;
    margin: auto;
  }
  .app-body{
    display: flex;
    justify-content: center;
  }
  .sidebar-section{
    width: 300px;
  }
  .right-section{
    margin-left: 30px;
    width: 1200px;
  }
}



@media only screen and (min-width:1600px){
  .container{
    max-width: 1580px;
    margin: auto;
  }
  .app-body{
    display: flex;
  }
  .sidebar-section{
    width: 250px;
  }
  .right-section{
    margin-left: 30px;
    width: 1300px;
  }
}